*.iml

misc.xml
modules.xml
vcs.xml
workspace.xml

.gradle

.DS_Store
.externalNativeBuild
.cxx

/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures